.criacao-projeto{
    position: absolute;
    margin-top: 20px;
    margin-left: 380px;
}

.bt-novo-projeto{
    background-color: #73bcd9;
    height: 30px;
    border-radius: 50px;
    border: none;
    padding-inline: 15px;
    color: white;
    font-weight: 800;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.bt-novo-projeto:hover {
    transform: scale(1.05);
    background-color: #000000;
}

.bt-nova-atividade{
    background-color: #f2cb05;
    height: 30px;
    border-radius: 50px;
    border: none;
    margin-left: 15px;
    padding-inline: 15px;
    color: white;
    font-weight: 800;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bt-nova-atividade:hover {
    transform: scale(1.05);
    background-color: #000000;
}