.search{
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
}

.input-search{
    border: none;
    width: 250px;
    border-radius: 20px;
    height: 30px;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 15px;
}

.bt-search{
    background-color: #73bcd9;
    border-radius: 50px;
    border: none;
    height: 30px;
    width: 30px;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}